repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.6
  hooks:
    - id: clang-format
      types_or: [c++]
